
/* MAIN  */

.app-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-image: linear-gradient(#000, #313131);
}



/* TOP PART OF THE PAGE */

.app-top {
    display: flex;
    flex-grow: 1;
}

.app-content {
    flex-grow: 1;
    background-image: linear-gradient(#000, #313131);
}

.album {
    display: flex;
}

.track-item {
    display: flex;
    justify-content: space-between;
}

.app-nav {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #313131;
}

.app-nav a {
    text-align: center;
}

/* BOTTOM PART OF THE PAGE */

.app-bottom {
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    background: #313131;
}

.current {
    flex-grow: 10;
    display: flex;
}

.current-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls a {
    margin: auto;
}
